<div class="row">
  <h1 class="paddingclass">Selected User Detals</h1>
  <button class="btn btn-primary btnClass" (click)="openBarChartModal()">Go To Bar Chart</button>
</div>
<!-- Chart -->

<h1 class="paddingclass" *ngIf="showChart">Horizontal Bar Chart</h1>
<div #barChart id="bar-chart"></div>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
      </tr>
    </thead>
    <tbody *ngIf="userDetail.length > 0">
      <tr *ngFor="let user of userDetail; let i = index" (click)="fnGoToUserDetail(user.id)">
        <th scope="row">{{user.id}}</th>
        <td>{{user.title}}</td>
        <td>{{user.body}}</td>
      </tr>
    </tbody>
    <tbody *ngIf="userDetail.length == 0">
        <tr>
            <td colspan="10" class="text-center">
                <div class="text-center margin-t-lg">
                    <div class="alert alert-info autoWidth spanIcon" role="alert">
                        <span class="flaticon-caution7">No user details found</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
  </table>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <p>One fine body&hellip;</p> -->
    <div #barChart id="bar-chart"></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

