/* You can add global styles to this file, and also import other style files */
.paddingclass {
    padding-top: 15px;
    text-align: center;
    color: orchid;
}

.cursorClass {
    cursor: pointer;
}